html
  head
    title  Solution Hunt Pack
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css")
    link(rel="stylesheet" href="custom.css")
    link(rel="stylesheet" href="https://rubaxa.github.io/Ply/ply.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js")
    script(src="https://rubaxa.github.io/Sortable/Sortable.js")
    script(src="https://rubaxa.github.io/Ply/Ply.min.js")
    link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
    style.
      body {
      font-family: Algerian;
      }
      .slider-selection {background: #BABABA; }
      .breadcrumb {
          padding: 0px;
          background: transparent;
          list-style: none;
          overflow: hidden;
          margin-top: 20px;
          margin-bottom: 20px;
          border-radius: 4px;
      }

      .breadcrumb>li {
          display: table-cell;
          vertical-align: top;
          width: 1%;
      }

      .breadcrumb>li+li:before {
          padding: 0;
      }

      .breadcrumb li a {
          color: white;
          text-decoration: none;
          padding: 10px 0 10px 45px;
          position: relative;
          display: inline-block;
          width: calc( 100% - 10px );
          background-color: hsla(0, 0%, 83%, 1);
          text-align: center;
          text-transform: capitalize;
      }

      .breadcrumb li.completed a {
          background: brown;
          background: hsla(153, 57%, 51%, 1);
      }

      .breadcrumb li.completed a:after {
          border-left: 30px solid hsla(153, 57%, 51%, 1);
      }

      .breadcrumb li.active a {
          background: #46b8da;
      }

      .breadcrumb li.active a:after {
          border-left: 30px solid #46b8da;
      }

      .breadcrumb li:first-child a {
          padding-left: 15px;
      }

      .breadcrumb li:last-of-type a {
          width: calc( 100% - 38px );
      }

      .breadcrumb li a:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          margin-left: 1px;
          left: 100%;
          z-index: 1;
      }

      .breadcrumb li a:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid hsla(0, 0%, 83%, 1);
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: 100%;
          z-index: 2;
      }

      @media (max-width: 1100px) {
         #steps {
            display:none;
         }
      }
  body(style="background-color : #E6E6FA")
    .jumbotron(style="padding-bottom : 0px; background-color:rgba(0,0,0,.075);  margin-bottom: 0px;  padding-top:10px;")
      h1.display-5(style="border-bottom:10px solid black;")
        | Solution Hunt Pack
      | Finetune the importance of keywords, and set the max time for crawling

    div(id='steps')
      ul.breadcrumb(style="margin-top:0px; width:100%")
        li.completed
          a
            strong
              | Step 1
            | : Select the challenge
        li.completed
          a
            strong
              | Step 2
            | : Select Keywords
        li.active
          a
            strong
              | Step 3
            | : Finetune
        li
          a
            strong
              | Step 4
            | : Results

    .container
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            | Finetune the keywords for :
            |
            =challenge_title
        .panel-body
          div.alert.alert-success#timer_body(role="alert" style="display:none; white-space: nowrap; overflow: hidden;")
            |Hang on!! Spiders are crawling the web. Your results will be ready in
            |
            strong
              span#timer(style="white-space: nowrap; overflow: horizontal-align:center") 00
              |   seconds
          form#finetune_form(action="/final" method="post" style="display:block;")
            input(name="challenge_title" style="display : none;" value=challenge_title)
            table.table
              thead.thead-inverse
                tr
                  th Relative ranking of keywords
                  th Other parameters
              tbody
                tr
                  td(style="padding: 20px 20px;")
                    span(style="font-size:12px;")
                      | The keywords below are in decreasing order of priority.
                      br
                      | Drag and drop to re-arrange the order of keywords.
                      br
                      br
                    #handle
                    .block__list_words
                      ul(id="keywords_list" style="list-style-type: none;")
                        each keyword,index in keywords
                          li(style="cursor : pointer; padding: 3px 10px; border-radius : 2px; background-color: #F5F3EE; border-bottom:1px solid black; border-left:1px solid black; margin-top:3px;")
                            span.drag-handle &#9776;
                            |
                            |
                            input(name="keywords_list" style="display : none;" value=keyword)
                            = keyword
                  td(style="padding: 20px 20px;")
                    | Set Time limit :
                    input#time_limit(name="time_slider" data-provide="slider" data-slider-id="ex1Slider" type="text" data-slider-min=10 data-slider-max=90 data-slider-step="1" data-slider-value=15)
                    br
                    span(style="font-size:12px;")
                      | Ideal time to crawl results per keyword : 3 seconds
                    br
                    br
                    | Select your crawler engine:
                    |
                    |
                    input(name='engine' checked='' data-toggle='toggle' data-on='Google' data-off='Bing' data-onstyle='success' data-offstyle='primary' type='checkbox')
            button.btn.btn-primary#submit_button(type="submit" style="float : right; margin-top:10px;" onclick="start_timer()") Submit
    script(type="text/javascript").
      var el = document.getElementById("keywords_list");
      var sortable = Sortable.create(el);
      function start_timer(){
      document.getElementById('timer').innerHTML = document.getElementById('time_limit').value;
      document.getElementById('finetune_form').style.display = "none";
      document.getElementById('timer_body').style.display = "block"; };
      var timeoutHandle;
      function count() {
      var startTime = document.getElementById('timer').innerHTML;
      var seconds = startTime;
      var newtime;
      if(seconds==0)
      newtime=seconds;
      else
      newtime=seconds-1;
      document.getElementById('timer').innerHTML=newtime;
      timeoutHandle=setTimeout(count, 1000);
      }
      count();
